<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ポ◯モンゲーム</title>
</head>
<body>
    <h1>バトルの結果</h1>
    <p>あなたの攻撃は <%= userChoice %> です。</p>
    <p>相手の攻撃は <%= enemyChoice %> です。</p>
    <h2>攻撃は<%= result %></h2>
    <a href="/public/battle.html">もう一度戦う</a>
</body>
</html>
