<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サイコロゲーム</title>
</head>
<body>
    <h1>サイコロの結果</h1>
<p>あなたのサイコロの目は <%= userDice %> でした。</p>
<p>相手のサイコロの目は <%= enemyDice %> でした。</p>
<h2><%= result %></h2>
<a href="/public/dice.html">もう一度遊ぶ</a>
</body>
</html>